@import url("https://fonts.googleapis.com/css2?family=Allura&family=Comfortaa:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff3fb;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --airy-100: rgba(86, 133, 152, 1);
  --airy-200: rgba(114, 150, 164, 1);
  --airy-300: rgba(158, 190, 203, 1);
  --airy-400: rgba(205, 222, 229, 1);
  --airy-500: rgba(239, 239, 239, 1);
  --airy-600: rgba(246, 246, 246, 1);
  --airy-700: rgba(246, 246, 246, 1);
  --autumn-100: rgba(71, 46, 5, 1);
  --autumn-200: rgba(134, 28, 14, 1);
  --autumn-300: rgba(187, 78, 11, 1);
  --autumn-400: rgba(236, 104, 22, 1);
  --autumn-500: rgba(241, 130, 22, 1);
  --autumn-600: rgba(254, 175, 74, 1);
  --autumn-700: rgba(255, 200, 130, 1);
  --body1-100-font-family: "Comfortaa", Helvetica;
  --body1-100-font-size: 20px;
  --body1-100-font-style: normal;
  --body1-100-font-weight: 300;
  --body1-100-letter-spacing: 0px;
  --body1-100-line-height: 120.00000476837158%;
  --body1-200-font-family: "Comfortaa", Helvetica;
  --body1-200-font-size: 15px;
  --body1-200-font-style: normal;
  --body1-200-font-weight: 400;
  --body1-200-letter-spacing: 0px;
  --body1-200-line-height: 120.00000476837158%;
  --body1-300-font-family: "Comfortaa", Helvetica;
  --body1-300-font-size: 15px;
  --body1-300-font-style: normal;
  --body1-300-font-weight: 500;
  --body1-300-letter-spacing: 0px;
  --body1-300-line-height: 120.00000476837158%;
  --body1-400-font-family: "Comfortaa", Helvetica;
  --body1-400-font-size: 20px;
  --body1-400-font-style: normal;
  --body1-400-font-weight: 600;
  --body1-400-letter-spacing: 0px;
  --body1-400-line-height: 120.00000476837158%;
  --body1-500-font-family: "Comfortaa", Helvetica;
  --body1-500-font-size: 20px;
  --body1-500-font-style: normal;
  --body1-500-font-weight: 700;
  --body1-500-letter-spacing: 0px;
  --body1-500-line-height: 120.00000476837158%;
  --body2-100-font-family: "Comfortaa", Helvetica;
  --body2-100-font-size: 16px;
  --body2-100-font-style: normal;
  --body2-100-font-weight: 300;
  --body2-100-letter-spacing: 0px;
  --body2-100-line-height: 120.00000476837158%;
  --body2-200-font-family: "Comfortaa", Helvetica;
  --body2-200-font-size: 16px;
  --body2-200-font-style: normal;
  --body2-200-font-weight: 400;
  --body2-200-letter-spacing: 0px;
  --body2-200-line-height: 120.00000476837158%;
  --body2-300-font-family: "Comfortaa", Helvetica;
  --body2-300-font-size: 16px;
  --body2-300-font-style: normal;
  --body2-300-font-weight: 500;
  --body2-300-letter-spacing: 0px;
  --body2-300-line-height: 120.00000476837158%;
  --body2-400-font-family: "Comfortaa", Helvetica;
  --body2-400-font-size: 16px;
  --body2-400-font-style: normal;
  --body2-400-font-weight: 600;
  --body2-400-letter-spacing: 0px;
  --body2-400-line-height: 120.00000476837158%;
  --body2-500-font-family: "Comfortaa", Helvetica;
  --body2-500-font-size: 16px;
  --body2-500-font-style: normal;
  --body2-500-font-weight: 700;
  --body2-500-letter-spacing: 0px;
  --body2-500-line-height: 120.00000476837158%;
  --body3-100-font-family: "Comfortaa", Helvetica;
  --body3-100-font-size: 13px;
  --body3-100-font-style: normal;
  --body3-100-font-weight: 300;
  --body3-100-letter-spacing: 0px;
  --body3-100-line-height: 120.00000476837158%;
  --body3-200-font-family: "Comfortaa", Helvetica;
  --body3-200-font-size: 13px;
  --body3-200-font-style: normal;
  --body3-200-font-weight: 400;
  --body3-200-letter-spacing: 0px;
  --body3-200-line-height: 120.00000476837158%;
  --body3-300-font-family: "Comfortaa", Helvetica;
  --body3-300-font-size: 13px;
  --body3-300-font-style: normal;
  --body3-300-font-weight: 500;
  --body3-300-letter-spacing: 0px;
  --body3-300-line-height: 120.00000476837158%;
  --body3-400-font-family: "Comfortaa", Helvetica;
  --body3-400-font-size: 13px;
  --body3-400-font-style: normal;
  --body3-400-font-weight: 600;
  --body3-400-letter-spacing: 0px;
  --body3-400-line-height: 120.00000476837158%;
  --body3-500-font-family: "Comfortaa", Helvetica;
  --body3-500-font-size: 13px;
  --body3-500-font-style: normal;
  --body3-500-font-weight: 700;
  --body3-500-letter-spacing: 0px;
  --body3-500-line-height: 120.00000476837158%;
  --body4-100-font-family: "Comfortaa", Helvetica;
  --body4-100-font-size: 10px;
  --body4-100-font-style: normal;
  --body4-100-font-weight: 300;
  --body4-100-letter-spacing: 0px;
  --body4-100-line-height: 120.00000476837158%;
  --body4-200-font-family: "Comfortaa", Helvetica;
  --body4-200-font-size: 10px;
  --body4-200-font-style: normal;
  --body4-200-font-weight: 400;
  --body4-200-letter-spacing: 0px;
  --body4-200-line-height: 120.00000476837158%;
  --body4-300-font-family: "Comfortaa", Helvetica;
  --body4-300-font-size: 10px;
  --body4-300-font-style: normal;
  --body4-300-font-weight: 500;
  --body4-300-letter-spacing: 0px;
  --body4-300-line-height: 120.00000476837158%;
  --body4-400-font-family: "Comfortaa", Helvetica;
  --body4-400-font-size: 10px;
  --body4-400-font-style: normal;
  --body4-400-font-weight: 600;
  --body4-400-letter-spacing: 0px;
  --body4-400-line-height: 120.00000476837158%;
  --body4-500-font-family: "Comfortaa", Helvetica;
  --body4-500-font-size: 10px;
  --body4-500-font-style: normal;
  --body4-500-font-weight: 700;
  --body4-500-letter-spacing: 0px;
  --body4-500-line-height: 120.00000476837158%;
  --emerald-100: rgba(1, 76, 70, 1);
  --emerald-200: rgba(28, 57, 65, 1);
  --emerald-300: rgba(0, 89, 30, 1);
  --emerald-400: rgba(23, 114, 55, 1);
  --emerald-500: rgba(91, 159, 108, 1);
  --emerald-600: rgba(150, 191, 147, 1);
  --emerald-700: rgba(193, 223, 192, 1);
  --heading1-100-font-family: "Comfortaa", Helvetica;
  --heading1-100-font-size: 61px;
  --heading1-100-font-style: normal;
  --heading1-100-font-weight: 300;
  --heading1-100-letter-spacing: 0px;
  --heading1-100-line-height: 120.00000476837158%;
  --heading1-200-font-family: "Comfortaa", Helvetica;
  --heading1-200-font-size: 61px;
  --heading1-200-font-style: normal;
  --heading1-200-font-weight: 400;
  --heading1-200-letter-spacing: 0px;
  --heading1-200-line-height: 120.00000476837158%;
  --heading1-300-font-family: "Comfortaa", Helvetica;
  --heading1-300-font-size: 61px;
  --heading1-300-font-style: normal;
  --heading1-300-font-weight: 500;
  --heading1-300-letter-spacing: 0px;
  --heading1-300-line-height: 120.00000476837158%;
  --heading1-400-font-family: "Comfortaa", Helvetica;
  --heading1-400-font-size: 61px;
  --heading1-400-font-style: normal;
  --heading1-400-font-weight: 600;
  --heading1-400-letter-spacing: 0px;
  --heading1-400-line-height: 120.00000476837158%;
  --heading1-500-font-family: "Comfortaa", Helvetica;
  --heading1-500-font-size: 61px;
  --heading1-500-font-style: normal;
  --heading1-500-font-weight: 700;
  --heading1-500-letter-spacing: 0px;
  --heading1-500-line-height: 120.00000476837158%;
  --heading2-100-font-family: "Comfortaa", Helvetica;
  --heading2-100-font-size: 49px;
  --heading2-100-font-style: normal;
  --heading2-100-font-weight: 300;
  --heading2-100-letter-spacing: 0px;
  --heading2-100-line-height: 120.00000476837158%;
  --heading2-200-font-family: "Comfortaa", Helvetica;
  --heading2-200-font-size: 49px;
  --heading2-200-font-style: normal;
  --heading2-200-font-weight: 400;
  --heading2-200-letter-spacing: 0px;
  --heading2-200-line-height: 120.00000476837158%;
  --heading2-300-font-family: "Comfortaa", Helvetica;
  --heading2-300-font-size: 49px;
  --heading2-300-font-style: normal;
  --heading2-300-font-weight: 500;
  --heading2-300-letter-spacing: 0px;
  --heading2-300-line-height: 120.00000476837158%;
  --heading2-400-font-family: "Comfortaa", Helvetica;
  --heading2-400-font-size: 49px;
  --heading2-400-font-style: normal;
  --heading2-400-font-weight: 600;
  --heading2-400-letter-spacing: 0px;
  --heading2-400-line-height: 120.00000476837158%;
  --heading2-500-font-family: "Comfortaa", Helvetica;
  --heading2-500-font-size: 49px;
  --heading2-500-font-style: normal;
  --heading2-500-font-weight: 700;
  --heading2-500-letter-spacing: 0px;
  --heading2-500-line-height: 120.00000476837158%;
  --heading3-100-font-family: "Comfortaa", Helvetica;
  --heading3-100-font-size: 39px;
  --heading3-100-font-style: normal;
  --heading3-100-font-weight: 300;
  --heading3-100-letter-spacing: 0px;
  --heading3-100-line-height: 120.00000476837158%;
  --heading3-200-font-family: "Comfortaa", Helvetica;
  --heading3-200-font-size: 39px;
  --heading3-200-font-style: normal;
  --heading3-200-font-weight: 400;
  --heading3-200-letter-spacing: 0px;
  --heading3-200-line-height: 120.00000476837158%;
  --heading3-300-font-family: "Comfortaa", Helvetica;
  --heading3-300-font-size: 39px;
  --heading3-300-font-style: normal;
  --heading3-300-font-weight: 500;
  --heading3-300-letter-spacing: 0px;
  --heading3-300-line-height: 120.00000476837158%;
  --heading3-400-font-family: "Comfortaa", Helvetica;
  --heading3-400-font-size: 39px;
  --heading3-400-font-style: normal;
  --heading3-400-font-weight: 600;
  --heading3-400-letter-spacing: 0px;
  --heading3-400-line-height: 120.00000476837158%;
  --heading3-500-font-family: "Comfortaa", Helvetica;
  --heading3-500-font-size: 39px;
  --heading3-500-font-style: normal;
  --heading3-500-font-weight: 700;
  --heading3-500-letter-spacing: 0px;
  --heading3-500-line-height: 120.00000476837158%;
  --heading4-100-font-family: "Comfortaa", Helvetica;
  --heading4-100-font-size: 31px;
  --heading4-100-font-style: normal;
  --heading4-100-font-weight: 300;
  --heading4-100-letter-spacing: 0px;
  --heading4-100-line-height: 120.00000476837158%;
  --heading4-200-font-family: "Comfortaa", Helvetica;
  --heading4-200-font-size: 31px;
  --heading4-200-font-style: normal;
  --heading4-200-font-weight: 400;
  --heading4-200-letter-spacing: 0px;
  --heading4-200-line-height: 120.00000476837158%;
  --heading4-300-font-family: "Comfortaa", Helvetica;
  --heading4-300-font-size: 31px;
  --heading4-300-font-style: normal;
  --heading4-300-font-weight: 500;
  --heading4-300-letter-spacing: 0px;
  --heading4-300-line-height: 120.00000476837158%;
  --heading4-400-font-family: "Comfortaa", Helvetica;
  --heading4-400-font-size: 31px;
  --heading4-400-font-style: normal;
  --heading4-400-font-weight: 600;
  --heading4-400-letter-spacing: 0px;
  --heading4-400-line-height: 120.00000476837158%;
  --heading4-500-font-family: "Comfortaa", Helvetica;
  --heading4-500-font-size: 31px;
  --heading4-500-font-style: normal;
  --heading4-500-font-weight: 700;
  --heading4-500-letter-spacing: 0px;
  --heading4-500-line-height: 120.00000476837158%;
  --heading5-100-font-family: "Comfortaa", Helvetica;
  --heading5-100-font-size: 25px;
  --heading5-100-font-style: normal;
  --heading5-100-font-weight: 300;
  --heading5-100-letter-spacing: 0px;
  --heading5-100-line-height: 120.00000476837158%;
  --heading5-200-font-family: "Comfortaa", Helvetica;
  --heading5-200-font-size: 25px;
  --heading5-200-font-style: normal;
  --heading5-200-font-weight: 400;
  --heading5-200-letter-spacing: 0px;
  --heading5-200-line-height: 120.00000476837158%;
  --heading5-300-font-family: "Comfortaa", Helvetica;
  --heading5-300-font-size: 25px;
  --heading5-300-font-style: normal;
  --heading5-300-font-weight: 500;
  --heading5-300-letter-spacing: 0px;
  --heading5-300-line-height: 120.00000476837158%;
  --heading5-400-font-family: "Comfortaa", Helvetica;
  --heading5-400-font-size: 24px;
  --heading5-400-font-style: normal;
  --heading5-400-font-weight: 600;
  --heading5-400-letter-spacing: 0px;
  --heading5-400-line-height: 120.00000476837158%;
  --heading5-500-font-family: "Comfortaa", Helvetica;
  --heading5-500-font-size: 25px;
  --heading5-500-font-style: normal;
  --heading5-500-font-weight: 700;
  --heading5-500-letter-spacing: 0px;
  --heading5-500-line-height: 120.00000476837158%;
  --luxury-100: rgba(112, 54, 14, 1);
  --luxury-200: rgba(147, 93, 35, 1);
  --luxury-300: rgba(182, 131, 55, 1);
  --luxury-400: rgba(217, 170, 76, 1);
  --luxury-500: rgba(252, 208, 96, 1);
  --luxury-600: rgba(255, 197, 49, 1);
  --luxury-700: rgba(247, 185, 25, 1);
  --netral-100: rgba(27, 27, 27, 1);
  --netral-200: rgba(51, 51, 51, 1);
  --netral-300: rgba(77, 77, 77, 1);
  --netral-400: rgba(102, 102, 102, 1);
  --netral-500: rgba(128, 128, 128, 1);
  --netral-600: rgba(153, 153, 153, 1);
  --netral-700: rgba(179, 179, 179, 1);
  --netral-800: rgba(204, 204, 204, 1);
  --netral-900: rgba(230, 230, 230, 1);
  --orchid-100: rgba(121, 41, 102, 1);
  --orchid-200: rgba(160, 24, 135, 1);
  --orchid-300: rgba(183, 11, 157, 1);
  --orchid-400: rgba(200, 33, 172, 1);
  --orchid-500: rgba(227, 130, 211, 1);
  --orchid-600: rgba(235, 161, 222, 1);
  --orchid-700: rgba(240, 188, 227, 1);
  --sakura-100: rgba(232, 50, 97, 1);
  --sakura-200: rgba(238, 77, 111, 1);
  --sakura-300: rgba(255, 118, 157, 1);
  --sakura-400: rgba(238, 152, 189, 1);
  --sakura-500: rgba(254, 176, 203, 1);
  --sakura-600: rgba(255, 203, 225, 1);
  --sakura-700: rgba(245, 232, 237, 1);
  --soft-sakura: 0px 0px 40px 0px rgba(231, 103, 103, 0.15);
}
